/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Dec 22, 2016, 11:26:01 PM
    Author     : Administrator
*/

body,
html {
  height: 100%;
  margin: 0;
}

.wrapper {
  background-image: url("../img/cake-1114056.jpg");
  background-size: cover;
  background-repeat: repeat;
  font-family: "Fredoka One", cursive;
  font-weight: bold;
  color: white;
  background-repeat: no-repeat;
  height: 100%;
}
.img-card {
  height: 582px;
  margin-bottom: 20px;
}

.img-thumbnail {
  cursor: pointer;
}

h1.heading {
  font-family: "Pacifico", cursive;
}
.container-card {
  position: relative;
}
.jumbotron {
  opacity: 0.4;
  filter: alpha(opacity=50);
  background-color: rgb(0 0 0 / 0%);
}
h4 {
  font-family: "Nunito Sans", sans-serif;
}
.bg-snow-tranparent-normal {
  opacity: 1;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
.bg-snow-tranparent-hidden {
  opacity: 1.8;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
/* .footer {
  height: 250px;
  font-size: 20px;
  background-color: darkblue;
  color: skyblue;
  padding-top: 100px;
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
*/ .containeri {
  position: relative;
  text-align: center;
}

.top-right {
  position: absolute;
  top: 6%;
  right: 25px;
  color: #728e98;
  font-size: 90%;
}
.btn-love {
  background-color: #728e98;
  color: #ffffff;
}

.btn-cancel {
  color: #728e98;
}

.top-left {
  position: absolute;
  top: 33%;
  right: 10px;
  color: #6c7c6b;
  font-size: 80%;
}
.center {
  position: absolute;
  top: 57%;
  right: 10px;
  color: #6c7c6b;
  font-size: 80%;
}
.and {
  position: absolute;
  top: 45%;
  right: 10px;
  color: #6c7c6b;
  font-size: 80%;
}

.bottom-right {
  position: absolute;
  top: 21%;
  right: 10px;
  color: #6c7c6b;
  font-size: 80%;
}
.bottom-left {
  position: absolute;
  bottom: 3%;
  right: 18%;
  color: #b78690;
}

.waiting {
  z-index: 9999 !important;
  font-family: "Montserrat";
  text-align: center;
  width: 100%;
}

#waiting {
  position: absolute;
  top: 65%;
}

.waiting-text {
  position: absolute;
  top: calc(65% + 120px);
  width: 100%;
  z-index: 99;
  font-weight: 200;
  font-size: 40px;
  padding: 0;
  margin: 0;
  line-height: 1;
  color: #e3eaf1;
  letter-spacing: 2px;
  word-wrap: break-word;
  margin: auto;
  /* max-width: 500px; */
  text-align: center;
}

@media (max-width: 1023px) {
  img.img-responsive {
    width: 100%;
    height: auto !important;
  }

  .containeri {
    font-size: 20px;
  }


}
